body
{
    background-color: #ffffff;
}

.imagem{
    background-position: top;
    background-image: url(./imagens/fundosite1.png);
    background-size: cover;
    object-fit: cover;
    max-height: 100vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.mostruario
{
    padding-left: 25vh;
}

.barratransicao
{
    width: 100vw;
    height: 2px;
    background-color: #000000;
    position: relative;
    animation: slideIn 1s ease-out forwards;
}

.card-text
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.txt
{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 8px;
    opacity: 75%;
}

.carrossel
{
    align-self: center;
    padding-top: 5vh;
}

.embaixo
{
    width: 100vw;
    height: 500px;
    background-color: #172420;
    position: relative;
}

.c1
{
    width: 400px;
    height: 700px;
    padding-top: 5vh;
}
.c2
{   
    width: 400px;
    height: 700px;
    padding-top: 5vh;
}

.card-custom
{
    border: unset;
    justify-content: left;
    background-color: rgba(221, 221, 221, 0);
}

.espaco
{
    padding-top: 70px;
    width: 100vw;
    position: static;
    padding-bottom: 10vh;
    padding-left: 84vh;
    height: 50px;
}

.custom-button
{
    background-color: #ffaee7f1;
    border: 3px solid #172420;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

.card-valor
{
    text-align: left;
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bolder;
    font-size: 20px;
}

.card-text
{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.card-title
{
    text-align: left;
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bolder;
}

.card-btn
{
    width: 250px;
    color: black;
    background-color: #ffaee7f1;
    border: 3px solid #172420;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.card-btn2
{
    background-image: url(./imagens/carrin.png);
    height: 43px;
    width: 100px;
    color: black;
    background-color: #ffaee7f1;
    border: 3px solid #172420;
}

.img
{
    background-position: center;
    background-image: url(./imagens/fundosite2.png);
    background-size: cover;
    object-fit: cover;
    max-height: 100vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}