body
{
    background-color: #a7c9b5;
}

.imagem{
    background-position: center;
    background-image: url(./imagens/fundosite1.png);
    background-size: cover;
    object-fit: cover;
    max-height: 100vh;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.texto
{
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bold;
    font-size: 7vh;
    color: rgb(1, 39, 26);
    padding-left: 20vh;
    padding-top: 17vh;
}

.texto2
{
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bold;
    font-size: 10vh;
    color: rgb(55, 100, 82);
    padding-left: 20vh;
}

.texto3
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
    color: rgba(173, 118, 0, 0.685);
    padding-left: 20vh;
    padding-top: 0.5vh;
}

.mostruario
{
    padding-left: 25vh;
}

.corr
{
    width: 100%;
    height: 735px;
    background-color: #39574d;
    position: static;
}

.t1
{
    padding-left: 5vh;
    width: 350px;
    height: 540px;
}

.barratransicao
{
    width: 100%;
    height: 50px;
    background-color: #172420;
    position: relative;
    animation: slideIn 1s ease-out forwards;
}

.card-text
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.corr2
{
    width: 100%;
    height: 1795px;
    background-color: #39574d;
    position: static;
}

.txt
{
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding-top: 8px;
    opacity: 75%;
}

.corro
{
    width: 1870px;
    height: 950px;
    background-color: #4f7c6e;
}

.carrossel
{
    align-self: center;
    padding-top: 5vh;
}

.embaixo
{
    width: 100%;
    height: 500px;
    background-color: #172420;
    position: relative;
}

.c1
{
    padding-top: 5vh;
}
.c2
{
    padding-top: 5vh;
}

.card-custom {
    background-color: rgba(221, 221, 221, 0.616);
    border: 1px solid #858585;
}

.espaco
{
    background-color: #39574d;
    position: static;
    padding-bottom: 10vh;
    padding-left: 84vh;
    height: 50px;
}

.custom-button
{
    background-color: #8ee4b2c0;
    border: 3px solid #172420;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 20px;
}

.card-valor
{
    text-align: center;
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bolder;
    font-size: 20px;
}

.card-text
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.card-title
{
    text-align: center;
    font-family: 'Copperplate', Papyrus, fantasy;
    font-weight: bolder;
}

.card-btn
{
    color: black;
    background-color: #8ee4b2c0;
    border: 3px solid #172420;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.img
{
    background-position: center;
    background-image: url(./imagens/fundosite2.png);
    background-size: cover;
    object-fit: cover;
    max-height: 100vh;
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}